@keyframes nav-element-color {
    to{
        width: 100%;
    }
}

@keyframes arrow-animation{
    
    from{
        width: 50px;
        height: 50px;
        opacity: 0.5;
    }
    
    to{
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

@keyframes header-title-show {
    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes header-line-show-1 {
    to{
        width: 300px;
    }
}

@keyframes header-line-show-2 {
    to{
        width: 450px;
    }
}

@keyframes header-date-show {
    to{
        opacity: 1;
    }
}

@keyframes about-us-show {
    to{
        scale: 1;
    }
}